<link rel='stylesheet' href='/user/user.css' />

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2>Library search</h2>
<div class="card">
  <img src="https://images.pexels.com/photos/256541/pexels-photo-256541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"  class="image">
  <div class="container">
    <h4><b>Library</b></h4> 
    <h4><b>place</b></h4> 
    <h4><b>phone no</b></h4> 
    <h4><b>email</b></h4> 
  </div>
</div>

</body>
</html> 
