<link rel='stylesheet' href='/stylesheets/user.css' />

<div class="login-page">
  <div class="form">
    <div>
      <h2 class="title">Login</h2>
    </div>
    <form class="login-form">
      <input type="text" placeholder="email" name="email" />
      <input type="password" placeholder="password" name="password" />
      <button type="submit">Login</button>
    </form>
  </div>
</div>