<link rel='stylesheet' href='/stylesheets/user.css' />

<nav class="navbar navbar-light bg-light mb-5">
  <h1 class="ms-3">Libraries</h1>
</nav>

<div class="container library">
  <div class="row">
    <div class="col-4">
      <div class="card p-2">
        <img
          src="https://images.pexels.com/photos/256541/pexels-photo-256541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="image">
        <div class="container">
          <h4><b>Library</b></h4>
          <h4><b>place</b></h4>
          <h4><b>phone no</b></h4>
          <h4><b>email</b></h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card p-2">
        <img
          src="https://images.pexels.com/photos/256541/pexels-photo-256541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="image">
        <div class="container">
          <h4><b>Library</b></h4>
          <h4><b>place</b></h4>
          <h4><b>phone no</b></h4>
          <h4><b>email</b></h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card p-2">
        <img
          src="https://images.pexels.com/photos/256541/pexels-photo-256541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="image">
        <div class="container">
          <h4><b>Library</b></h4>
          <h4><b>place</b></h4>
          <h4><b>phone no</b></h4>
          <h4><b>email</b></h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card p-2">
        <img
          src="https://images.pexels.com/photos/256541/pexels-photo-256541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="image">
        <div class="container">
          <h4><b>Library</b></h4>
          <h4><b>place</b></h4>
          <h4><b>phone no</b></h4>
          <h4><b>email</b></h4>
        </div>
      </div>
    </div>
  </div>
</div>



</body>

</html>